*
{
	margin: 0;
	padding: 0;
}

ul li
{
	text-transform: uppercase;
	margin-top: 5px;
	text-indent: all;
}
.carousel-inner img
{
	height: 100%;
	width: 100%
}
.headerr img
{
	height: 100%;
	width: 100%
}

.headerr img:hover
{
	cursor: zoom-in;
	transition: 2s;
	transform: scale(1.1);
}
.desgin img:hover
{
	cursor: move;
	transition: 0.5s;
	transform: scale(1.1);
}
.nav-link:hover
{
	background-color:lightblue;
}
.dropdown-menu
{
height: 400px;

overflow-x: hidden;
overflow-y: scroll;

	
	
}

.nav-item
{
	padding-right: 10px;
	text-align: center;

}


.card:hover
{
	background-color: lightblue;
}
.okayg
{
	max-height: 100%
	max-widht: 100%;
}
.san img
{
	height: 100%;
	width: 100%;
}
